:root {
    --inika: "Inika", serif;
    --inter: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    margin-top: 0px;
    margin-bottom: 42px;
    font: 700 45px var(--inter);
    color: rgba(113, 113, 113, 1);
}

h2 {
   font: 700 40px var(--inter); 
}

h3 {
    font: 400 40px var(--inika);
    color: rgba(73, 154, 24, 1)
}

h4 {
    font: 700 20px var(--inter);
    color: rgba(224, 103, 51, 1);

}

.contacts-header {
    font: 700 40px var(--inika);
    color: rgba(73, 154, 24, 1);
}

body {
    background: hsla(110, 19%, 94%, 1);
    font: 400 20px var(--inter);
    color: rgba(99, 96, 96, 1);

}

header {
    color: rgba(0, 0, 0, 1);

    font: 400 16px var(--inika);
    height: 134px;
    padding: 42px 112px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: baseline;
    /* height: 100%; */
}


.header-nav {
    height: 50px;
}

.header-nav > ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 46px;

}

.header-nav-item {
    text-align: center;
}


.welcome {
    padding: 0 109px;
    display: flex;
    align-items: flex-start;
    gap: 224px;

}

.welcome-text-wrapper {
    margin: 98px 0;
}

.welcome-img {
    margin: 62px 0;
    flex-basis: 448px;
    width: 448px;

    flex-shrink: 0;
    flex-grow: 0;
}

.about {
    background: rgba(255, 255, 255, 1);
}