:root {
    --inika: "Inika", serif;
    --inter: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin-top: 0px;
}

h1 {
    margin-bottom: 42px;
    font: 700 45px var(--inter);
    color: rgba(113, 113, 113, 1);
}

h2 {
   font: 700 40px var(--inter); 
}

h3 {
    font: 400 40px var(--inika);
    color: rgba(73, 154, 24, 1)
}

h4 {
    font: 700 20px var(--inter);
    color: rgba(224, 103, 51, 1);

}

.contacts-header {
    font: 700 40px var(--inika);
    color: rgba(73, 154, 24, 1);
}

button {
    height: 44px;
}

body {
    background: hsla(110, 19%, 94%, 1);
    font: 400 20px var(--inter);
    color: rgba(99, 96, 96, 1);
    margin: 0;
}

header {
    color: rgba(0, 0, 0, 1);

    font: 400 16px var(--inika);
    height: 134px;
    padding: 42px 112px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: baseline;
    /* height: 100%; */
}


.header-nav {
    height: 50px;
}

.header-nav > ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 46px;

}

.header-nav-item {
    text-align: center;
}


.welcome {
    padding: 0 109px;
    display: flex;
    align-items: flex-start;
    gap: 224px;

}

.welcome-text-wrapper {
    margin: 98px 0 94px 0;
}

.welcome-text-wrapper > p {
    margin: 0px 0 48px 0;
    line-height: 35px;
}

.welcome-img {
    margin: 62px 0;
    flex-basis: 448px;
    width: 448px;

    flex-shrink: 0;
    flex-grow: 0;
}

.welcome-em {
    color: rgba(73, 154, 24, 1);
    font-style: normal;
}


.about {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    gap: 153px;
    padding: 0 109px;

}

.about-text-wrapper {
    margin-top: 161px;
}

.about > img {
    margin: 94px 0;
}

.about-em {
    color: rgba(224, 103, 51, 1);;
    font-style: normal;
}


.service {
    display: flex;
    flex-direction: column;
    /* gap: 153px; */
    padding: 40px 109px 121px 109px;
}

.service-header {
    display: flex;

}

.service-header > ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 38px;

}

.service-header > h3 {
    flex-basis: 306px;
    flex-grow: 0;

}

.service-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    /* row-gap: 1fr;
    column-gap: auto; */
}
